<%= render "header" %>

<div class="container">
  <p style="color: green"><%= notice %></p>

  <p class="h4">Task</p>
  <%= render @todo %>

  <div class="buttons">
    <%= button_to "Edit this todo", edit_todo_path(@todo), method: :patch, class: "btn btn-primary btns"%>
    <%= button_to "Destroy this todo", @todo, method: :delete, class: "btn btn-primary btns"%>
  </div>
</div>
